## $\underline{\textbf{SQL Notes}}$

<h1 align="center">Queries</h1> 
statement declaring what data to look for, where in database, and optionally how to transform it before it's returned.

$\underline{\text{simple select query for specific columns}}:$  
``` sql
SELECT column_name, another_column, …
FROM mytable;
```
#can use asteric (*) to indicate all.

$\underline{\text{select query w/ constraint}}:$
``` sql
SELECT column_name, another_column, …
FROM mytable
WHERE condition
    AND/OR another_condition
    AND/OR ..;
```
might find these operators useful: 
| Operator            | Condition                                            | SQL Example                   |
|---------------------|------------------------------------------------------|-------------------------------|
| =, !=, < <=, >, >=  | Standard numerical operators                         | col_name != 4                 |
| BETWEEN … AND …     | Number is within range of two values (inclusive)     | col_name BETWEEN 1.5 AND 10.5 |
| NOT BETWEEN … AND … | Number is not within range of two values (inclusive) | col_name NOT BETWEEN 1 AND 10 |
| IN (…)              | Number exists in a list                              | col_name IN (2, 4, 6)         |
| NOT IN (…)          | Number does not exist in a list                      | col_name NOT IN (1, 3, 5)     |

expanded operator table:
| Operator            | Condition                                            									| SQL Example |
|---------------------|-----------------------------------------------------------------------------------------|-------------|
| = 			      |Case sensitive exact string comparison (notice the single equals) 				|col_name = "abc"     |
| != or <> 		    |Case sensitive exact string inequality comparison     								|col_name != "abcd"   |
| LIKE 		    |Case insensitive exact string comparison		     									|col_name LIKE "ABC"  |
| NOT LIKE 		    |Case insensitive exact string inequality comparison   								|col_name NOT LIKE "ABCD"|
| % 			    |Used anywhere in a string to match a sequence of zero or more characters (only with LIKE or NOT LIKE) 	|col_name LIKE "%AT%" <br /> (matches "AT", "ATTIC", "CAT" or even "BATS")|
| _ 			    |Used anywhere in a string to match a single character (only with LIKE or NOT LIKE) |col_name LIKE "AN_"		 <br /> (matches "AND", but not "AN")|
| IN (…) 		    |String exists in a list 														|col_name IN ("A", "B", "C")|
| NOT IN (…) 	    |String does not exist in a list 												|col_name NOT IN ("D", "E", "F)|

notes that full-text search is better left to deticated libraries like $\textbf{Apache Lucene}$ or $\textbf{Sphinx}$.

$\textbf{Ex}.$ to find all Toy Story movies:
``` sql
SELECT *
FROM movies
WHERE Title LIKE "%Toy Story%";
```

<h1 align="center">Filtering</h1> 

$\textbf{DISTINCT}:$ keyword that'll blindly discard duplicated values when querrying
``` sql
SELECT DISTINCT column1, column2, ...
FROM mytable
WHERE conditions;
```
Since the $\text{DISTINCT}$ keyword will blindly remove duplicate rows, we will learn in a future lesson how to discard duplicates based on specific columns using grouping and the $\text{GROUP BY}$ clause.

$\textbf{ORDER BY}:$ clause to sort results by a given column in ASCending or DESCending order.
``` sql
SELECT column1, column2, ...
FROM mytable
WHERE conditions
ORDER BY column1 ASC/DESC;
```
each row is sorted alpha-numerically based on the specified column's values, in some databases you can also specify a collation to better soty data containing multi-language text.

$\textbf{LIMIT and OFFSET}:$ clauses commonly used with $\text{ORDER BY}$. the $\text{LIMIT}$ will reduce the number of rows to return, and the optional $\text{OFFSET}$ will specify where to begin counting the number rows from.
``` sql
SELECT column1, column2, ...
FROM mytable
WHERE conditions
ORDER BY column1 ASC/DESC
LIMIT num_limit OFFSET num_offset;
```

$\textbf{Ex.}$ to list pixar movies sorted alphabetically offseted by 5:
``` sql
SELECT title FROM movies
ORDER BY title ASC
LIMIT 5 OFFSET 5;
```

<h1 align="center">Database Normalization</h1>  

going from single table -> multiple orthogonal tables, using normalization.

main purpose: removing duplicate entries while allowing the different tables to change independent of eachother. 

queries get more complex since they have to find data from different parts of the databases. there are thus also performence issues.


$\textbf{JOINs}:$  
tables that share info about a single entity need to have a $\it{primary \space key}$ that identifies that entity $\it{uniquely}$ across the database.

common primary key type is an auto-incrementing integer (space efficient), but it can be any unique key, such as string, hashed value, etc.

the $\text{JOIN}$ clause in a query can combine row data across two seperate tables using a unique key.

$\textbf{INNER JOIN}:$  
a process that matches rows from the first table and the second which have the same key (as defined by the $\text{ON}$ constraint). 

``` sql
SELECT column1, column2, ...
FROM mytable
INNER JOIN table2
    ON mytable.id = table2.id
WHERE conditions
ORDER BY column, ... ASC/DESC
LIMIT num_limit OFFSET num_offest;
```

this results in a row with combined columns from both tables. after the tables are joined, the other clauses are applied.

NOTE: $\text{INNER JOIN}$ can be written as $\text{JOIN}$, however we use the first to dinstinguish from other types of joins. 

$\textbf{Ex.}$ two tables, "Movies" and "Boxoffice" that are to be joined, want to show movies where int sales greater than domestic, ordered by rating desc:

``` sql
SELECT * FROM Movies
INNER JOIN Boxoffice
    ON Movies.Id = Boxoffice.Movie_id
WHERE International_sales > Domestic_sales
ORDER BY Rating DESC;
```

$\textbf{OUTER JOIN}:$